<html>
<head>
<title></title>
</head>
<body>
<table>
<tr>
	<td></td>
	<td class="head" colspan=2><p>Кому ${to_name}<br>Куди ${to_address}<br>Від ${from_name}<br>Адреса ${from_address}</p></td>
</tr>
<tr>
<td class="ref"><div class="ref">Вих. №${ref} від ${date} г.</div></td><td>&nbsp;</td>
</tr>
<tr><td colspan=2 class="v-spacer"></td></tr>
<tr><td colspan=2 class="title">
<div>Заява</div>
</td></tr>
<tr><td colspan=2 class="smv-spacer"></td></tr>
<tr><td colspan=2 class="a-body">
<div>
<b>${when} р.</b> мною на території дороги, яка знаходиться: <b>${where}</b> на проїжджій частині дороги мною були виявлені недоліки в утриманні дороги та пошкодження дороги, розміри яких перевищують граничні розміри, встановлені Державним стандартом України ДСТУ 3587-97 ― «Автомобільні дороги, вулиці та залізничні переїзди. Вимоги до експлуатаційного стану». Вказані недоліки утримання дороги є небезпечними для життя та здоров'я учасників дорожнього руху. Цим порушується моє право як учасника дорожнього руху на зручний та безпечний дорожній рух. Максимальний термін, передбаченний Дрежавним стандартом України 3587-97, для усунення пошкоджень дорожнього полотна слкладає 10 діб. для исправления повреждений дорожного покрытия составляет 10 суток.<br><br>
Відповідно до ч. 10 ст. 52-1 Закону України «Про дорожній рух» та ч. 12 ст. 10 Закону України «Про міліцію», на ДАІ покладено обов'язок із забезпечення безпеки дорожнього руху, державний контроль шляхом, зокрема, проведення перевірок за дотриманням підприємствами, установами, організаціями незалежно від форми власності законів, правил та нормативів в сфері дорожнього руху. Також відповідно до ч. 1, ст. 6 КУпАП, органи виконавчої влади та органи місцевого самоврядування розробляють та здійснюють заходи, спрямовані на запобігання адміністративних правопорушень, з'ясування та усунення причин та умов, які сприяють їх вчиненню.<br>

Відповідно до Указу Президента №1121/2007 від 25 червня 2007 р. «Про невідкладні заходи із забезпечення безпеки дорожнього руху», необхідне посилення адміністративної відповідальності посадових осіб органів, підприємств, установ, організацій, на які покладено обов'язки із забезпечення безпеки дорожнього руху.<br><br>
Зважаючи, що порушене моє право на зручний та безпечний дорожній рух, гарантоване ст. 32 закону “Про автомобільні дороги”, приймаючи до уваги викладене, на підставі ст. 140 КУпАП, ст. 40 Конституції України, прошу:<br>
<ol>
<li>Скласти протокол про адміністративне правопорушення за статтею 140 КУпАП «Порушення правил, норм і стандартів при утриманні автомобільних доріг і вулиць» у відношенні посадової особи, яка відповідає за утримання та ремонт вказаної ділянки дороги, визнати мене 
потерпілим у справі; направити мені копію протоколу.</li>
<li>Провести обстеження вказаної ділянки дороги, скласти відповідний акти та надіслати мені його копію.</li>
<li>Видати припис про вжиття заходів для усунення вказаних недоліків та надіслати мені копію припису.</li>
<li>Повідомити мене про причину, яка призвела до вчинення адміністративного правопорушення.</li>
<li>По суті скарги та про заходи, що були вжиті, прошу повідомити мені письмово.</li>
</ol>
</div>
</td></tr>
<tr><td colspan=2 class="smv-spacer"></td></tr>
<tr>
	<td class="date">${date} г.</td>
	<td class="init">${init}</td>
</tr>
<tr><td colspan=2 class="v-spacer"></td></tr>
<tr><td class="attach">Додаток: ${c_photos} фотографії</td></tr>
</table>
<pagebreak />
<table>
${files}
</table>
</body>
</html>
